*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --sky-color: #87ceeb;
  --grass-color: #32cd32;
  --flower-color: #ffa07a;
  --flower-dark-color: #ff6347;
}

body {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--sky-color);
  overflow: hidden;
}

.text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 4rem;
  color: #ff69b4;
  font-weight: bold;
}

.sky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--sky-color);
}

.grass {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  background-color: var(--grass-color);
}

.flower {
  position: absolute;
  bottom: 15vh;
  transform-origin: bottom center;
}

.flower__leafs {
  position: relative;
}

.flower__leaf {
  position: absolute;
  bottom: 0;  
  left: 50%;  
  width: 8vmin;  
  height: 11vmin;
  border-radius: 51% 49% 47% 53% / 44% 45% 55% 69%;
  background-color: var(--flower-color);
  background-image: linear-gradient(to top, var(--flower-dark-color), var(--flower-color));
  transform-origin: bottom center;
  opacity: 1;
  box-shadow: inset 0 0 2vmin rgba(255, 255, 255, 0.5);
  z-index: 2;  /* Ensure it's above the stem */
}

/* Specific transformations for each petal */
.flower__leaf--1 {
  transform: translateX(-50%) rotate(0deg);
}

.flower__leaf--2 {
  transform: translateX(-50%) rotate(90deg);
}

.flower__leaf--3 {
  transform: translateX(-50%) rotate(180deg);
}

.flower__leaf--4 {
  transform: translateX(-50%) rotate(270deg);
}


.flower__white-circle {
  position: absolute;
  left: -3.5vmin;
  top: -3vmin;
  width: 9vmin;
  height: 4vmin;
  border-radius: 50%;
  background-color: #fff;
  z-index: 1;
}

.flower__line {
  height: 55vmin;
  width: 1.5vmin;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent, rgba(255, 255, 255, 0.2));
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  animation: grow-flower-tree 4s backwards;
}

@keyframes petal-animation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.1) rotate(5deg);
  }
  100% {
    transform: translateX(-50%) scale(1) rotate(0deg);
  }
}

@keyframes grow-flower-tree {
  0% {
    height: 0;
    border-radius: 1vmin;
  }
  100% {
    height: 55vmin;
    border-radius: 0;
  }
}
