/* Header */
header {
    padding-bottom: 0.5rem;
}

/* About Me Section */
.about-section {
    padding-top: 5rem; /* Adjust padding */
    padding-bottom: 5rem;
}

.about-section p {
    font-size: 1rem;
    line-height: 1.8;
    color: #333;
}

/* Section Animations */
section.fade {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

section.fade.show {
    opacity: 1;
    transform: translateY(0);
}
