@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
    background-color: #131316;
    color: #ffff;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden{
    opacity: 0;
    filter: blur(10px);
    transition: all 1s ease-in-out;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion){
    .hidden, .show {
        transition: none;
    }
}
.contacts {
    display: flex;
}

img {
    width: 10%;
    height: auto;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    border-radius: 50%;
}

.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}